body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  text-align: center;
  margin: 0;
  padding: 0;
}
 
 
header {
  background-color: lightblue;
  padding: 20px;
}
 
 
.content img {
  width: 300px;
  border: 5px solid blackk;
}
 
 
.box {
  width: 100px;
  height: 100px;
  background-color: rgb(27, 12, 193);
  margin: 40px auto;
  border-radius: 20%;;
}
 
 
.hidden {
  display: non;
}
 